.book_list{
    float :center;
}
.book{

    width: 160px;
    height: 225px;
    background-color: white;
    float :left;
    margin: 45px;
    border: 1px solid black;
    margin-bottom: 70px;
    margin-top: 50px;

}
.sub{
    width: 160px;
    height: 225px;
}

.line{
    background-color: black;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    
}
.name{
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Gamja Flower', cursive;
}
.sub:hover{
    
}
@media screen and (max-width: 768px){
    .book{
        width: 100px;
        height: 150px;
    }
    .sub{
        width: 100px;
        height: 150px;
    }

}